/propellor
/propellor.built
dist/*
dist-newstyle/*
tags
configured
privdata/local
privdata/keyring.gpg~
Setup
Setup.hi
Setup.o
docker
chroot
propellor.1
.lock
.lastchecked
.stack-work/*
.cabal-sandbox/
cabal.sandbox.config
*~
result
