Source: propellor
Section: admin
Priority: optional
Build-Depends: 
	debhelper (>= 9),
	git,
	ghc (>= 7.6),
	cabal-install,
	libghc-ansi-terminal-dev,
	libghc-async-dev,
	libghc-concurrent-output-dev,
	libghc-exceptions-dev (>= 0.6),
	libghc-hashable-dev,
	libghc-hslogger-dev,
	libghc-ifelse-dev,
	libghc-mtl-dev,
	libghc-network-dev,
	libghc-split-dev,
	libghc-unix-compat-dev,
Maintainer: Joey Hess <id@joeyh.name>
Standards-Version: 3.9.8
Vcs-Git: git://git.joeyh.name/propellor
Homepage: http://propellor.branchable.com/

Package: propellor
Architecture: any
Section: admin
Depends: ${misc:Depends}, ${shlibs:Depends},
	ghc (>= 7.4),
	cabal-install,
	libghc-ansi-terminal-dev,
	libghc-async-dev,
	libghc-concurrent-output-dev,
	libghc-exceptions-dev (>= 0.6),
	libghc-hashable-dev,
	libghc-hslogger-dev,
	libghc-ifelse-dev,
	libghc-mtl-dev,
	libghc-network-dev,
	libghc-split-dev,
	libghc-unix-compat-dev,
	git,
Description: property-based host configuration management in haskell
 Propellor ensures that the system it's run in satisfies a list of
 properties, taking action as necessary when a property is not yet met.
 .
 It is configured using haskell.
