#!/bin/false -f

# Avoid using cabal, as it writes to $HOME
export CABAL=./Setup

%:
	dh $@

override_dh_auto_build:
	$(MAKE) build
override_dh_installdocs:
	dh_installdocs README.md TODO
override_dh_installman:
	dh_installman debian/propellor.1
